.decision {
    counter-reset: steps;
    &__inner:first-child {
        padding: 80px 15px 0;
    }
    &__inner:last-child {
        padding: 0 15px 40px;
    }
    &__title {
        margin-bottom: 22px;
        color: $black;
    }
    &__text {
        max-width: 713px;
    }
    &__steps {
        margin-top: 40px;
        &-title {
            margin-bottom: 30px;
        }
    }
    &__step {
        padding-left: 35px;
    }

    &-step {
        margin: 40px 0;
        &__arrow {
            margin-right: 20px;
        }
        &__content {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            position: relative;
            &::before {
                counter-increment: steps;
                content: counter(steps);
                position: absolute;
                top: 50%;
                left: -35px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 42px;
                line-height: 26px;
                color: $black;
                transform: translateY(-50%);
            }
        }
        &__bitrix-design {
            max-width: 105%;
            width: 105%;
            transform: translateX(-35px);
        }
        &__text {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:nth-child(7) {
            margin-bottom: 80px;
            .decision-step__content {
                align-items: flex-start;
                &:before {
                    top: 4px;
                    transform: none;
                }
            }
        }
    }
    &-slider {
        max-width: 2000px;
        margin: 0 auto;
        background-image: url('../images/src/decision-slider__bg.png');
        background-repeat: no-repeat;
        padding: 50px 58px 85px;
        &__container {
            z-index: 5;
            background-image: url('../images/src/notebook.png');
            background-repeat: no-repeat;
            background-size: contain;
            padding: 30px 15px 75px;
            position: relative;
        }
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    display: none;
    width: 25px;
}

.swiper-button-prev {
    background-image: url('../images/src/arrow--orange.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    left: -75px !important;
}

.swiper-button-next {
    background-image: url('../images/src/arrow--orange.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(5px);
    right: -75px !important;
}

.swiper-pagination-bullet {
    width: 30px !important;
    height: 30px !important;
    margin: 0 10px !important;
    background: transparent !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    fill: $orange;
}

.swiper-pagination {
    bottom: -50px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}
