.tasks {
    background-color: $orange;
    background-image: url('../images/src/tasks-bg.png');
    background-size: cover;
    &__inner {
        padding: 70px 15px;
        position: relative;
    }
    &__title {
        color: #fff;
        margin-bottom: 25px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: -81px;
            top: 50%;
            transform: translateY(-50%) scale(0);
            width: 31px;
            height: 46px;
            background-image: url('../images/src/arrow-white--big.svg');
            background-repeat: no-repeat;
            transition: .3s;
        }
        &:hover::before {
            transform: translateY(-50%) scale(1);
        }
        .path--orange,
        .path--white  {
            transition: .3s;
        }
        .path--white {
            fill: #fff;
            stroke: #fff;
        }
        path {
            stroke: $orange;
        }
        &:hover {
            path {
                stroke: #fff;
            }
            .path--white {
                stroke: #fff;
                fill: transparent;
            }
        }
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__icon {
        margin-right: 30px;
    }
    &__text {
        color: #fff;
        font-weight: 600;
    }
    &__btn {
        margin-top: 40px;
    }
    &__bg-img {
        position: absolute;
        top: 15%;
        right: -37%;
    }
}
